@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
li{ list-style:none;}
body{ font-size:12px; font-family:"Arial"; color: #666;}
h1,h2,h3,h4,h5,h6,strong,b{ font-size:14px; font-weight:normal;}
em,i{ font-style:normal; }
a{ text-decoration:none; color: #666; }
a:hover{ color: #f69;}
.fl{ float:left; }
.fr{ float:right; }
.clear{ clear:both;}
.clearfix:after{ content:""; display:block; clear:both; }
.clearfix{ zoom:1; }
img{ vertical-align: top;}
input,img,a{ border:none;}
input{ outline: none;}
.w{ width: 1200px; margin: 0 auto;}
.pink{ color: #f69;}



