body{ background: #f2f2f2; }
.container{ max-width: 640px; min-width: 320px; margin:0 auto; }
.header { position: relative;}
.header .img{ width:100%;}
.header .img img{ width: 100%;}
.header .text{ width: 100%; padding:10px; height:56px; background: #3db6a3; box-sizing: border-box; position: absolute; bottom: 0px; left: 0; }
.header .text input{ width:100%; height:36px; background: #fff; padding-left: 36px; box-sizing: border-box;}
.header .text i{width:15px;height:15px; position: absolute; left:25px; top:20px; background:  url(../image/car_search.png) 0 0 no-repeat;}
.nav{ width:100%; border-bottom: 1px solid #eee;}
.nav li{width:25%; float: left; text-align: center; font-size: 12px; height:68px; background: #fff; position: relative; }
.nav li a{color:#333;}
.nav li a i{display:block; width:35px; height:35px; margin:10px auto 3px;}
.nav li a i.maiche{ background: url(../image/maiche.png); }
.nav li a i.chemai{ background: url(../image/chemai.png); }
.nav li a i.pinggu{ background: url(../image/pinggu.png); }
.nav li a i.shaixuan{ background: url(../image/shaixuan.png); }
.nav li a b{width:1px; height:68px; background: #ddd; position: absolute; right: 0px; top:0px;}
.nav li:last-child b{display: none;}
.che{ border-bottom:1px solid #ebebeb; border-top: 1px solid #eee; margin-top:10px;}
.che .che-l{ width:50%; border-right:2px solid #f4f4f4; box-sizing: border-box;}
.che .che-l img{ width:100%;}
.che .che-r{ width:50%; }
.che .che-r img{ width:100%;}
.che .che-r img:nth-child(1){border-bottom:2px solid #f4f4f4; box-sizing: border-box; }
.jiage{ width: 100%; margin-top: 10px;}
.jiage i{ width: 5px; height: 21px; background: #f37e0b; position: absolute; left: 0; top: 10px;}
.jiage h2{ width: 100%; height: 41px; line-height: 41px;position: relative; padding-left: 15px; background: #fff; border-bottom: 1px solid #ddd; box-sizing: border-box;}
.jiage li{ width: 25%; float: left; background: #fff; height: 41px; line-height: 41px; text-align: center; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box;}
.jiage li:nth-child(4){ border-right: none;}
.jiage li:nth-child(8){ border-right: none;}
.pinpai{ width: 100%; margin-top: 10px;}
.pinpai i{ width: 5px; height: 21px; background: #4881c9; position: absolute; left: 0; top: 10px;}
.pinpai h2{ width: 100%; height: 41px; line-height: 41px;position: relative; padding-left: 15px; background: #fff; border-bottom: 1px solid #ddd; box-sizing: border-box;}
.pinpai li{ width: 25%; height: 77px; float: left; background: #fff;  border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box;}
.pinpai b{ background:  url(../image/baoma.png) no-repeat; width: 79px; height: 100%; margin: 0 auto; display: block;}
.pinpai li:nth-child(4){ border-right: none;}
.pinpai li:nth-child(8){ border-right: none;}
.chexing{ width: 100%; margin-top: 10px;}
.chexing i{ width: 5px; height: 21px; background: #48c242; position: absolute; left: 0; top: 10px;}
.chexing h2{ width: 100%; height: 41px; line-height: 41px;position: relative; padding-left: 15px; background: #fff; border-bottom: 1px solid #ddd; box-sizing: border-box;}
.chexing li{ width: 25%; float: left; background: #fff; height: 41px; line-height: 41px; text-align: center; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box;}
.chexing li:nth-child(4){ border-right: none;}
.chexing li:nth-child(8){ border-right: none;}
.footer{ margin-top:10px;}
.footer .footer-l{ width:50%; border-right:2px solid #f4f4f4; box-sizing: border-box; float: left;}
.footer .footer-l img{ width:100%;}
.footer .footer-r{ width:50%; float: left;}
.footer .footer-r img{ width:100%;}
.banner{ width: 100%;}
.banner img{ width:100%;}
.shop{ background: #fff; height: 80px;}
.shop div {width: 100%; height: 15px; text-align: center; padding-top: 18px;}
.shop div a { color: #333; margin-right: 20px; position: relative;}
.shop div b{ width: 2px; height: 15px; position: absolute; right: -12px; top: 2px; background:  url(../image/car_line.png) 0 0 no-repeat; display: inline-block;}
.shop a:last-child b{ display: none;}
.shop p{ width: 100%; color: #999; text-align: center; height: 12px; line-height: 12px; font-size: 12px;margin-top: 17px;margin-bottom: 20px;}
.shop p i{ color: #ff5500;}
